@using NexUs.Core.Application.Dtos.Account
@using NexUs.Core.Application.Helpers
@inject IHttpContextAccessor httpContext
@{
    AuthenticationResponse user = httpContext.HttpContext!.Session.Get<AuthenticationResponse>("user")!;
}

@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NexUs.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NexUs.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body class="d-flex flex-nowrap">
    
    @if (!IsSectionDefined("NoSidebar"))
    {
        <aside class="sidebar">
            <a href="/" class="d-flex align-items-center mb-3 text-decoration-none">
                <img src="~/Images/Logo/isotipo.PNG" width="50px" height="50px" />
                <span class="fs-4 fw-bold text-info">MedSync</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link text-light @(currentController == "Home" ? "active" : "")">
                        <i class="fas fa-home me-2"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Friend" asp-action="Index" class="nav-link text-light @(currentController == "Doctor" ? "active" : "")">
                        <i class="fas fa-user-friends me-2"></i> Amigos
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="LabTest" asp-action="Index" class="nav-link text-light @(currentController == "LabTest" ? "active" : "")">
                        <i class="fas fa-user me-2"></i> Mi perfil
                    </a>
                </li>
            </ul>
            <hr>
            <div class="user-dropdown">
                <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>@user.UserName</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item text-danger" asp-controller="User" asp-action="LogOut">Cerrar Sesión</a></li>
                </ul>
            </div>

        </aside>
    }
    else
    {
        IgnoreSection("NoSidebar");
    }




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
